APP_NAME=CarsDekho
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://carsdekho.onrender.com
LOG_CHANNEL=stderr

DB_CONNECTION=pgsql
DB_HOST=dpg-d596ml75r7bs73936sm0-a
DB_PORT=5432
DB_DATABASE=car_website
DB_USERNAME=car_user
DB_PASSWORD=your_password_here

SESSION_DRIVER=database
CACHE_DRIVER=file
QUEUE_CONNECTION=sync